body {
  background-color: light-gray;
  width: 100%;
  height: 100%;
  margin: 0 0;
}

.MuiBox-root {
  margin: 2.5% 5% ;
  width: 90%;
  min-height: 90vh;
  background-color: white;
}
#stream {
  background-color: white;
  height: 80vh;
  box-shadow: 0px 5px 7.5px gray;
  border-bottom-left-radius: 5px;
}
#chat {
  background-color: white;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0px 5px 7.5px gray;
}
#panel {
  background-color: white;
  box-shadow: 0px 5px 7.5px gray;
  height: 10vh;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.MuiList-root {
  min-height: 77.6vh;
} 
.MuiPaper-root {
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100%;
}
