body {
  background-color: light-gray;
  width: 100%;
  height: 100%;
  margin: 0 0;
}

.MuiBox-root {
  margin: 2.5% 5% ;
  width: 90%;
  min-height: 90vh;
  background-color: gray;
}
#stream {
  background-color: red;
  height: 80vh;
}
#chat {
  background-color: green;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
#panel {
  background-color: blue;
  height: 10vh;
}

.MuiList-root {
  min-height: 77.6vh;
} 
.MuiPaper-root {
  position: absolute;
  z-index: 999;
  bottom: 0;
  width: 100%;
}